[submodule "js/famous"]
	path = js/famous
	url = git@github.com:Famous/famous.git
[submodule "tools"]
	path = tools
	url = git@github.com:Famous/build-tools.git
[submodule "js/loader"]
	path = js/loader
	url = git@github.com:Famous/plugin.git
