[submodule "js/famous"]
	path = js/famous
	url = git@github.com:Famous/famous.git
[submodule "tools"]
	path = tools
	url = git@github.com:Famous/build-tools.git
[submodule "js/plugin"]
	path = js/plugin
	url = git@github.com:Famous/plugin.git
